$primary-color: #e6007e;
$text-color: #4a4a4a;
$title-color: #020202;
$read-more-color: rgb(64, 179, 49);
$container-width: 1440px;
$font-family: "Roboto Condensed", sans-serif;
$font-weight: normal;
